.imageGallery {
	color: #DCEDC8;
	/* z-index: -1; */
	display: flex;
	width: 100%;
}

.leftImageGallery {
	display: flex;
	flex-direction: column;
	z-index: -1;
	width: 20%;
}

.rightImageGallery {
	display: flex;
	flex-direction: column;
	z-index: -1;
	width: 20%;
	margin-left: 0.5%;
}

.mainContainer {
	z-index: 99;
	width: 50%;
	margin-left: 2%;
}

.images {
	z-index: -1;
}

img {
	border-width:5px;  
	border-style:dotted solid;
}

.desc {
	margin: 0 0 80px 20px;
}

.imgTag {
	max-width: 100%;
}