.imageGallery {
	display: flex;
	width: 100%;
}

.leftImageGallery {
	display: flex;
	flex-direction: column;
	z-index: -1;
	width: 20%;
}

.rightImageGallery {
	display: flex;
	flex-direction: column;
	z-index: -1;
	width: 20%;
	margin-left: 0.5%;
}

.mainContainer {
	z-index: 99;
	width: 50%;
	margin-left: 2%;
}

.images {
	z-index: -1;
}

img {
	border-width:5px;  
	border-style:dotted solid;
}

.desc {
	margin: 2% 0 20% 4%;
	color: #558B2F;
	font-style: italic;
	text-shadow: 2px 2px 20px;
}

.imgTag {
	max-width: 100%;
}