.post, .comment {
    margin: 5% 24%;
    border-radius: 5px;
    box-shadow: 4px 5px 10px #33691E;
    background-color: #C5E1A5;
}

.comment {
    margin-top: 5px;
}

.post, .comment div {
    text-align: justify;
    padding: 3%;
    color:#415f1e;
}

.comment div {
    padding: 1%;
}

p {
    margin-left: 20%;
    color:#415f1e;
    
}

button.like{
    width: 30px;
	height: 30px;
	margin: 0 auto;
	border-radius: 50%;
	color: rgba(0,150,136 ,1);
	background-color:rgba(38,166,154 ,0.3);
	border-color: rgba(0,150,136 ,1);
	border-width: 1px;
    font-size: 15px;
    padding: 0;
}

button.dislike{
	width: 30px;
	height: 30px;
	margin: 0 auto;
	border-radius: 50%;
	color: rgba(255,82,82 ,1);
	background-color: rgba(255,138,128 ,0.3);
	border-color: rgba(255,82,82 ,1);
	border-width: 1px;
    font-size: 15px;
    padding: 0;
}

.comment .reactions {
    display: -webkit-box;
}

.comment .reactions div {
    font-weight: bold;
    font-size: 1em;
}

.comment .reactions .likesNr {
    color: darkgreen;
}

.comment .reactions .dislikesNr {
    color: firebrick;
}

.deleteButton {
    margin-left: 80%;;
}

.createComment textarea {
    outline: none;
    border: 3px solid black;
    width: 50%;
    border-radius: 6px;
}

.createComment {
    margin: 0 0 5% 24%;
}

.createComment div {
    color:#415f1e;
    margin: 0 2%;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    font-size: 1.1em;
}
