.createPost {
    margin: 9% 0 2% 22%;
    align-self: flex-start;
}

.createPost div {
    margin: 0 2%;
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    color: black;
    font-size: large;
    text-shadow: 0px 0px 8px #9CCC65;
}

.createPost textarea {
    outline: none;
    border: 3px solid black;
    width: 100%;
    border-radius: 6px;
}

button{
    display:inline-block;
    background-color: #DCEDC8;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    font-size: 0.9em;
    color: green;
    text-align:center;
    transition: all 0.2s;
    margin: 0 2%;
}

button:hover{
    color:#000000;
    background-color:rgb(223, 151, 70);
}

.posts .previewPost {
    margin: 1% 1% 4% 0;
    padding: 3%;
    border-radius: 5px;
    box-shadow: 4px 5px 10px #33691E;
    background-color: #C5E1A5;
}

.posts .previewPost div, a {
    font-size: 1.1em;
    text-align: justify;
    padding: 2%;
    color:#415f1e;
}

.posts .previewPost a {
    text-decoration: none;
    color: #BF360C;
}

.posts .previewPost a:hover {
    text-decoration: none;
    color: #BF360C;
    font-size: 1.5em;
}

